<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>kCal0</title>

    <link rel="stylesheet" href="../static/css/home.css">

    <link rel="icon" href="../static/img/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/2.0.1/spinkit.min.css" />

</head>

<body>

    <div id="divOverlay"></div>

    <script src="../static/mjs/components/header.mjs" type="module"></script> <!-- Header -->

    <script src="../static/mjs/components/popUps/popUpCreateMenu.mjs" type="module"></script>
    <!-- Pop-Up para a criação do menu -->

    <script src="../static/mjs/components/popUps/popUpCreateMeal.mjs" type="module"></script>
    <!-- Pop-Up para a criação de uma refeição -->

    <script src="../static/mjs/components/popUps/popUpCreateFood.mjs" type="module"></script>
    <!-- Pop-Up para a criação de um alimento -->

    <script src="../static/mjs/components/popUps/popUpEditMeal.mjs" type="module"></script>
    <!-- Pop-Up para edit uma refeição -->

    <div id="spin"></div>

    <main>

        <div id="divIMC">

            <p id="textIMC"></p>

            <p id="textAboutIMC">* O IMC (Índice de Massa Corporal) é uma medida usada para avaliar se uma pessoa está
                no peso ideal em
                relação à altura. As faixas de classificação do IMC são as seguintes:</p>

            <table class="table">

                <thead>

                    <tr>

                        <th>IMC</th>

                        <th>Classificação</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>IMC &lt; 18.5</td>

                        <td><strong>Abaixo do peso</strong></td>

                    </tr>
                    <tr>

                        <td>18.5 &le; IMC &lt; 24.9</td>

                        <td><strong>Peso normal</strong></td>

                    </tr>

                    <tr>

                        <td>25 &le; IMC &lt; 29.9</td>

                        <td><strong>Sobrepeso</strong></td>

                    </tr>

                    <tr>

                        <td>30 &le; IMC &lt; 34.9</td>

                        <td><strong>Obesidade grau 1</strong></td>

                    </tr>

                    <tr>

                        <td>35 &le; IMC &lt; 39.9</td>

                        <td><strong>Obesidade grau 2</strong></td>

                    </tr>

                    <tr>

                        <td>IMC &ge; 40</td>

                        <td><strong>Obesidade grau 3 (mórbida)</strong></td>

                    </tr>

                </tbody>

            </table>

        </div>

        <div id="divTDEE">

            <p id="textTDEE"></p>

            <p id="textAboutTDEE">* O TDEE é a Taxa Diária Total de Energia, que representa a quantidade total de
                calorias que o corpo queima em um dia, considerando o metabolismo basal e a atividade física.</p>

            <table border="1" cellspacing="0" cellpadding="10" class="table">
                <thead>
                    <tr>
                        <th>Objetivo</th>
                        <th>Calorias Diárias</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Emagrecer</td>
                        <td>TDEE - 500 kcal</td>
                    </tr>
                    <tr>
                        <td>Manter Peso</td>
                        <td>TDEE</td>
                    </tr>
                    <tr>
                        <td>Ganhar Peso</td>
                        <td>TDEE + 500 kcal</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div id="noMenu">

            <h1>No Menu</h1>

            <p>Click on the button below to create a new menu</p>

            <p>First, create a menu, within the menu, you will have t he meals, and within the meals, you will be able
                to
                add the food with your information!</p>

            <button id="btCreate" type="button">+ Create Menu</button>

        </div>

        <div id="yesMenu">

        </div>

        <button id="btAddMeal">+ Add Meal</button>

    </main>

    <script type="module" src="../static/mjs/home.mjs" defer></script>

</body>

</html>