<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>kCal0</title>

    <link rel="stylesheet" href="../static/css/home.css">

    <link rel="icon" href="../static/img/favicon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/2.0.1/spinkit.min.css" />

</head>

<body>

    <div id="divOverlay"></div>

    <script src="../static/mjs/components/header.mjs" type="module"></script> <!-- Header -->

    <script src="../static/mjs/components/popUps/popUpCreateMenu.mjs" type="module"></script>
    <!-- Pop-up for creating a menu -->

    <script src="../static/mjs/components/popUps/popUpCreateMeal.mjs" type="module"></script>
    <!-- Pop-up for creating a meal -->

    <script src="../static/mjs/components/popUps/popUpCreateFood.mjs" type="module"></script>
    <!-- Pop-up for creating a food item -->

    <script src="../static/mjs/components/popUps/popUpEditMeal.mjs" type="module"></script>
    <!-- Pop-up for editing a meal -->

    <div id="popUpEditFood" class="overlay">
        <div class="popup-content">
            <!-- O conteúdo do pop-up será preenchido dinamicamente -->
        </div>
    </div>

    <div id="spin"></div>

    <main>

        <div id="divIMC">

            <p id="textIMC"></p>

            <p id="textAboutIMC">* BMI (Body Mass Index) is a measure used to assess if a person is at a healthy weight relative to their height. The BMI classification ranges are as follows:</p>

            <table class="table">

                <thead>

                    <tr>

                        <th>BMI</th>

                        <th>Classification</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>BMI &lt; 18.5</td>

                        <td><strong>Underweight</strong></td>

                    </tr>
                    <tr>

                        <td>18.5 &le; BMI &lt; 24.9</td>

                        <td><strong>Normal weight</strong></td>

                    </tr>

                    <tr>

                        <td>25 &le; BMI &lt; 29.9</td>

                        <td><strong>Overweight</strong></td>

                    </tr>

                    <tr>

                        <td>30 &le; BMI &lt; 34.9</td>

                        <td><strong>Obesity Class 1</strong></td>

                    </tr>

                    <tr>

                        <td>35 &le; BMI &lt; 39.9</td>

                        <td><strong>Obesity Class 2</strong></td>

                    </tr>

                    <tr>

                        <td>BMI &ge; 40</td>

                        <td><strong>Obesity Class 3 (morbid obesity)</strong></td>

                    </tr>

                </tbody>

            </table>

        </div>

        <div id="divTDEE">

            <p id="textTDEE"></p>

            <p id="textAboutTDEE">* TDEE (Total Daily Energy Expenditure) represents the total amount of calories the body burns in a day, considering basal metabolism and physical activity.</p>

            <table border="1" cellspacing="0" cellpadding="10" class="table">
                <thead>
                    <tr>
                        <th>Goal</th>
                        <th>Daily Calories</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lose Weight</td>
                        <td>TDEE - 500 kcal</td>
                    </tr>
                    <tr>
                        <td>Maintain Weight</td>
                        <td>TDEE</td>
                    </tr>
                    <tr>
                        <td>Gain Weight</td>
                        <td>TDEE + 500 kcal</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div id="noMenu">

            <h1>No Menu</h1>

            <p>Click on the button below to create a new menu</p>

            <p>First, create a menu. Within the menu, you will have meals, and within the meals, you will be able to add food with its details!</p>

            <button id="btCreate" type="button">+ Create Menu</button>

        </div>

        <div id="yesMenu">

        </div>

        <button id="btAddMeal">+ Add Meal</button>

        <h3>Total calories and grams of your menu.</h3>

        <div id="divTotalQuantityCalories">

            <p id="textCalories"></p>

            <p id="textQuantity"></p>

        </div>

    </main>

    <script type="module" src="../static/mjs/home.mjs" defer></script>

</body>

</html>
