<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>kCal0</title>

    <link rel="stylesheet" href="../static/css/home.css">

    <link rel="icon" href="../static/img/logo.png">

</head>

<body>

    <header>

        <img src="../static/img/logo.png" alt="logo" id="logo" width=75 height=75>

        <button id="btLogout" type="button">Logout</button>

    </header>

    <!-- Overlay -->

    <div id="divOverlay"></div>

    <!-- Pop-Up para a criação do menu -->

    <div id="popUpCreate">

        <form>

            <label for="menuName">Menu Name:</label>

            <input type="text" id="menuName" name="menuName" required>

            <button type="button" id="btCreateMenuConfirm">Create</button>

        </form>

    </div>

    <main>

        <div id="divListMenus">

            <h1>Menus</h1>

            <ul id="listMenus">

                <!-- <li>Menu 1</li> -->

            </ul>

        </div>

        <div id="divBtCreateMenu">

            <button id="btCreate" type="button">+ Create Menu</button>

        </div>

    </main>

    <footer>

        <p>&copy; 2024 kCal0</p>

    </footer>

    <script type="module" src="../static/mjs/home.mjs"></script>

</body>

</html>