<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>kCal0</title>

    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="icon" href="../static/img/logo.png">

</head>

<body>

    <main>

        <form>

            <img src="../static/img/logo.png" alt="logo" id="logo" width=75 height=75>

            <h1>kCal0</h1>

            <label for="username">Username</label>

            <input type="text" name="username" id="username" placeholder="Username" required>

            <label for="password">Password</label>

            <input type="password" name="password" id="password" placeholder="Password" required>

            <button type="button" id="btEnter">Enter</button>

            <a href="">Forgot password?</a>

            <a href="/register">Don't have an account? Register here</a>

        </form>

    </main>

    <footer>

        <p>Email - micaelrrocha13@gmail.com</p>

        <p>Number - (21)96740-6436</p>

    </footer>

    <script type="module" src="../static/mjs/index.mjs"></script>
    
</body>

</html>