<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>kCal0</title>

    <link rel="stylesheet" href="../static/css/meal.css">

    <link rel="icon" href="../static/img/logo.png">

</head>

<body>

    <header>

        <img src="../static/img/logo.png" alt="logo" id="logo" width=100 height=100>

    </header>

    <button id="btBack" type="button">⬅</button>

    <!-- Overlay -->

    <div id="divOverlay"></div>

    <!-- Pop-Up para a criação da refeição -->

    <div id="popUpCreate">

        <form>

            <label for="foodName">Food Name:</label>

            <input type="text" id="foodName" name="foodName" required>

            <label for="foodCalories">Calories:</label>

            <input type="number" id="foodCalories" name="foodCalories" required>

            <label for="foodQuantity">Quantity:</label>

            <input type="number" id="foodQuantity" name="foodQuantity" required>

            <button type="button" id="btCreateFoodConfirm">Create</button>

        </form>

    </div>

    <main>

        <div id="divListFoods">

            <h1>{{.meal.MealName}}</h1>

            <ul id="listFoods">

                <!-- <li>Food 1</li> -->

            </ul>

        </div>

        <div id="divBtCreateFood">

            <button id="btCreate" type="button">+</button>

            <p>Create Food</p>

        </div>

    </main>

    <footer>

        <p>&copy; 2024 kCal0</p>

    </footer>

    <script type="module" src="../static/mjs/meal.mjs"></script>
    
</body>

</html>