<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>kCal0</title>

    <link rel="stylesheet" href="../static/css/menu.css">

    <link rel="icon" href="../static/img/logo.png">

</head>

<body>

    <header>

        <img src="../static/img/logo.png" alt="logo" id="logo" width=75 height=75>

    </header>

    <button id="btBack" type="button">Return</button>

    <!-- Overlay -->

    <div id="divOverlay"></div>

    <!-- Pop-Up para a criação da refeição -->

    <div id="popUpCreate">

        <form>

            <label for="mealName">Meal Name:</label>

            <input type="text" id="mealName" name="mealName" required>

            <button type="button" id="btCreateMealConfirm">Create</button>

        </form>

    </div>

    <main>

        <h1>Menu: {{.menu.MenuName}}</h1>

        <div id="divListMeals">

            <ul id="listMeals">

                <!-- <li>Meal 1</li> -->

            </ul>

            <div class="divResult">

                <p id="totalCalories"></p>

            </div>

            <div class="divResult">

                <p id="totalQuantity"></p>

            </div>

        </div>

        <div id="divBtCreateMeal">

            <button id="btCreate" type="button">+ Create Meal</button>

        </div>

    </main>

    <footer>

        <p>&copy; 2024 kCal0</p>

    </footer>

    <script type="module" src="../static/mjs/menu.mjs"></script>
    
</body>

</html>