<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kCal0</title>
    <link rel="stylesheet" href="../static/css/perfil.css">
    <link rel="icon" href="../static/img/favicon.png">

</head>

<body>

    <script src="../static/mjs/components/header.mjs" type="module"></script> <!-- Header -->

    <main>

        <div id="divInfos">

            <h1>Profile</h1>

            <div id="divUser">
    
                <img src="../static/img/user.png" alt="User" id="user" width=75 height=75>

            </div>

            <div class="doubleInfo">

                <div class="boxInfo">

                    <label for="username">Username:</label>

                    <input type="text" id="username" name="username" readonly>

                </div>

                <div class="boxInfo">

                    <label for="email">Email:</label>

                    <input type="text" id="email" name="email" readonly>

                </div>

            </div>

            <label for="fullName">Full Name:</label>

            <input type="text" id="fullName" name="fullName" readonly>

            <div class="doubleInfo">

                <div class="boxInfo">

                    <label for="gender">Gender:</label>

                    <input type="text" id="gender" name="gender" readonly>

                </div>

                <div class="boxInfo">

                    <label for="age">Age:</label>

                    <input type="text" id="age" name="age" readonly>

                </div>

            </div>

            <label for="weight">Weight:</label>

            <input type="text" id="weight" name="weight" readonly>

            <div class="doubleInfo">

                <div class="boxInfo">

                    <label for="height">Height:</label>

                    <input type="text" id="height" name="height" readonly>

                </div>

                <div class="boxInfo">

                    <label for="activityLevel">Activity Level:</label>

                    <input type="text" id="activityLevel" name="activityLevel" readonly>
        
                </div>

            </div>

        </div>

    </main>

    <script type="module" src="../static/mjs/perfil.mjs"></script>

</body>

</html>