<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kCal0</title>
    <link rel="stylesheet" href="../static/css/perfil.css">
    <link rel="icon" href="../static/img/logo.png">

</head>

<body>

    <header>
        <img src="../static/img/logo.png" alt="logo" id="logo" width=75 height=75>
        <nav>
            <button id="btHome" type="button" onclick="window.location.href='/home'">Home</button>
            <button id="btLogout" type="button">Logout</button>
        </nav>
    </header>

    <main>

        <h1>Perfil</h1>

        <div id="divInfos">
            <div class="divDouble">
                <div class="boxInput">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" readonly>
                </div>
                <div class="boxInput">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" readonly>
                </div>
            </div>

            <div class="divDouble">
                <div class="boxInput">
                    <label for="fullName">Full Name:</label>
                    <input type="text" id="fullName" name="fullName" readonly>
                </div>
                <div class="boxInput">
                    <label for="gender">Gender:</label>
                    <input type="text" id="gender" name="gender" readonly>
                </div>
            </div>

            <div class="divDouble">
                <div class="boxInput">
                    <label for="age">Age:</label>
                    <input type="text" id="age" name="age" readonly>
                </div>
                <div class="boxInput">
                    <label for="weight">Weight:</label>
                    <input type="text" id="weight" name="weight" readonly>
                </div>
            </div>

            <div class="divDouble">
                <div class="boxInput">
                    <label for="height">Height:</label>
                    <input type="text" id="height" name="height" readonly>
                </div>
                <div class="boxInput">
                    <label for="activityLevel">Activity Level:</label>
                    <input type="text" id="activityLevel" name="activityLevel" readonly>
                </div>
            </div>

        </div>

        <div id="divCalculations">

            <div id="divIMC">
                <h2>IMC (Índice de Massa Corporal)</h2>
                <p>O IMC é uma medida utilizada para determinar se você está dentro de uma faixa de peso saudável em
                    relação à sua altura.</p>

                <div id="imcBarContainer">
                    <div id="imcBarBackground"></div>
                    <div id="imcBarIndicator"></div>
                </div>

                <div id="imcLabelsContainer">
                    <div class="imcLabel">
                        <div class="arrow-up"></div>
                        <span>Abaixo do Peso</span>
                    </div>
                    <div class="imcLabel">
                        <div class="arrow-up"></div>
                        <span>Peso Normal</span>
                    </div>
                    <div class="imcLabel">
                        <div class="arrow-up"></div>
                        <span>Sobrepeso</span>
                    </div>
                    <div class="imcLabel">
                        <div class="arrow-up"></div>
                        <span>Obesidade Grau 1</span>
                    </div>
                    <div class="imcLabel">
                        <div class="arrow-up"></div>
                        <span>Obesidade Grau 2</span>
                    </div>
                    <div class="imcLabel">
                        <div class="arrow-up"></div>
                        <span>Obesidade Grau 3</span>
                    </div>
                </div>

                <p id="imcValue"></p>

            </div>

            <div id="divTMB">
                <h2>TMB (Taxa de Metabolismo Basal)</h2>
                <p>A TMB é a quantidade mínima de energia (calorias) que seu corpo precisa para manter as funções
                    vitais, como respiração e circulação, em repouso completo.</p>
                <p id="tmb"></p>
            </div>

            <div id="divTMR">
                <h2>TMR (Taxa Metabólica de Repouso)</h2>
                <p>A TMR é a quantidade de energia que seu corpo consome considerando seu nível de atividade física
                    diária.</p>
                <p id="tmr"></p>
            </div>
        </div>

    </main>

    <script type="module" src="../static/mjs/perfil.mjs"></script>

</body>

</html>