@import url('global.css');

main {

    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

}

main #calories {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    border: 2px solid #FF006F;
    width: 90vw;
    margin: 5vh auto;
    user-select: none;


}

main #calories div {

    color: #FF006F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    width: 45vw;

}

main #menu {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 80%;
    font-size: 22px;
    font-weight: 500;
    margin: 20px auto;

}

#menu #menu_name {

    color: #FF006F;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;

}

#menu #menuTable {

    width: 100%;
    table-layout: fixed;
    border-radius: 10px;
    border-collapse: collapse;
    color: #FF006F;
    border: 5px solid #FF006F;
    
}

#menuTable th,
#menuTable td {

    width: 33%;
    text-align: center;
    padding: 30px;

}


p {

    font-size: 25px;
    color: #FF006F;

}

#btAddFood {

    background-color: #FF006F;
    border: none;
    font-size: 20px;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #FF006F;
}

#btAddFood:hover {

    background-color: white;
    color: #FF006F;
    cursor: pointer;

}

#popupContent {

    display: none;
    flex-direction: column;
    background-color: white;
    position: fixed;
    border-radius: 20px;
    z-index: 2;
    margin-top: 15vh;
    width: 40vw;
    height: 65vh;
    padding: 20px;
}

#closePopupFood{

    border: none;
    color: rgb(255, 0, 0);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    cursor: pointer;
    font-size: 40px;
    width: 10px;

}

h2 {

    color: #FF006F;
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin: 0;

}

form {

    display: flex;

    flex-direction: column;
    border-radius: 20px;
    align-items: center;

}

form label {

    margin: 5px 0;
    text-align: left;
    width: 90%;
    padding: 10px;
    
}

form input {

    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 90%;
 
}

form #btConfirm {

    background-color: #FF006F;
    border: none;
    padding: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #FF006F;
    margin-top: 60px;
    width: 60%;

}

form #btConfirm:hover {

    background-color: white;
    color: #FF006F;
    cursor: pointer;

}

#graphic{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    margin: 20px;

}



#btGeneratePDF{

    display: none;
    background-color: #FF006F;
    border: none;
    padding: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #FF006F;
    margin-top: 60px;
    width: 60%;

}

#btGeneratePDF:hover {

    background-color: white;
    color: #FF006F;
    cursor: pointer;

}

