main {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #ffd9e6, #fcecfd);
    font-family: 'Poppins', sans-serif;
    animation: fade-in 0.5s ease-in-out;
    height: 100vh;

}

main h1{

    color: #e91e63;

}

main p {
    font-size: 0.9rem;
    color: #444;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 30px;
}