@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{

    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    user-select: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

body #btBack{

    position: fixed;
    top: 25px;
    left: 25px;
    border: none;
    border-radius: 5px;
    background-color: #FF006F;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid #FF006F;

}

body #btBack:hover{

    background-color: #fff;
    color: #FF006F;

}

body #divOverlay{

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

body #popUpCreate{

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #fff;
    padding: 50px;
    z-index: 2;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body #popUpCreate form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

body #popUpCreate form label{

    color: #FF006F;

}

body #popUpCreate form input{

    margin: 10px;
    padding: 10px;
    border: 1px solid #FF006F;
    border-radius: 5px;
    width: 80%;

}

body #popUpCreate form button{

    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF006F;
    color: #fff;
    cursor: pointer;
    width: 80%;
    border: 2px solid #FF006F;

}

body #popUpCreate form button:hover{

    background-color: #fff;
    color: #FF006F;

}

body header{

    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-bottom: 5px solid #FF006F;

}

body header #logo{

    margin: 25px;

}

body main{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

body footer{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;  
    border-top: 2px solid #FF006F;
    width: 100%;

}

body footer p{

    color: #FF006F;

}

h1, h2, h3{

    text-align: center;

}