@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

::-webkit-scrollbar {
    
    width: 5px; 

}

::-webkit-scrollbar-track {

    background-color: #FF006F

}

::-webkit-scrollbar-thumb {

    background-color: #ffffff; 
    border-radius: 3px; 
    border: none;

}

#spin {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #FF006F;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body {

    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {

    width: 90vw;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    user-select: none;
    border-bottom: 10px solid #FF006F;

}

main {

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;

}

footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    border-top: 2px solid #FF006F;
    width: 100%;
    background-color: #FF006F;
    color: #fff;
    position: absolute;
    bottom: 0;
    font-weight: bold;

}

footer a {

    color: #fff;
    text-decoration: none;

}

footer a:hover {

    text-decoration: underline;

}

button {

    font-family: 'Karla', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: #FF006F;
    color: #fff;
    cursor: pointer;
    font-size: 16 px;
    height: 50px;
    border: 2px solid #FF006F;
    width: 125px;
    font-weight: bold;

}

button:hover {

    background-color: #fff;
    color: #FF006F;

}

input {

    font-family: 'Karla', sans-serif;

}