@import url('global.css');

body{

    height: auto;

}

main{

    display: none;
    margin: 10px;

}

#divOverlay{

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.popUps{

    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 100vh;
    padding: 50px 75px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.popUps form {

    width: 100%;
    height: 100%;
    border-radius: 8px;
    
}

.popUps h1 {

    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    color: #FF006F;

}

.popUps .form-group {

    margin-bottom: 1.5rem;

}

.popUps form label {

    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #FF006F;

}

.popUps form input[type="text"],
.popUps form input[type="number"] {

    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;

}

.popUps form input[type="text"]:focus,
.popUps form input[type="number"]:focus {

    border-color: #FF006F;
    outline: none;

}

.popUps form .form-actions {

    text-align: center;
    margin-top: 1.5rem;

}

.popUps form .form-note {

    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;

}

.popUps table {

    width: 100%;
    font-size: 20px;
    border-collapse: collapse; 
    margin-top: 20px;
    table-layout: fixed; 

}

.popUps table th, 
.popUps table td {

    border: 2px solid #FF006F;
    padding: 10px;
    text-align: center;
    width: 33.33%; 
    color: #FF006F;

}

.popUps table th {

    background-color: #ffe5f1;
    font-weight: bold;
    color: #FF006F;

}

.popUps table td {

    background-color: #fff; 

}

#divIMC{

    background-color: #f9f9f9; 
    border-radius: 5px; 
    width: 90vw;
    margin: 25px 0 0 0;

}

#divIMC #textIMC {

    font-size: 1.5em; 
    color: #FF006F; 
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

}

#divIMC #textAboutIMC {

    color: #444; 
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

}

.table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px; 
    font-family: 'Arial', sans-serif; 

}

.table th,
.table td {

    padding: 10px;
    text-align: center; 
    border: 1px solid #ddd;
    font-family: 'Karla', sans-serif;

}

.table th {

    background-color: #FF006F; 
    color: #fff; 
    font-size: 1.2em;
    width: 50%;

}

.table td {

    font-size: 1.1em; 
    color: #444; 
    
}

.table tr:nth-child(even) {

    background-color: #f9f9f9; 

}

.table strong {

    color: #FF006F; 

}

#divTDEE{

    background-color: #f9f9f9; 
    border-radius: 5px; 
    width: 90vw;
    margin: 25px 0 0 0;

}

#divTDEE #textTDEE {

    font-size: 1.5em; 
    color: #FF006F; 
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

}

#divTDEE #textAboutTDEE {

    color: #444; 
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

}

#noMenu {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;

}

#yesMenu {

    display: flex;
    flex-direction: column;
    color: #ffffff;
    width: 100%;

}

.mealHeader{

    display: flex;
    justify-content: space-between;
    color: #FF006F;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    transition:  ease 0.8s;
    width: 100%;

}

.mealHeader:hover{

    background-color: #FF006F;
    color: #ffffff;
    transform: scale(1.01);
    cursor: pointer;

}

.mealHeader h2{

    margin: 5px 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btAddFood{

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 10px;

}

.deleteButton {

    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  ease 0.3s;
    
}

.deleteButton:hover {

    color: #000000;
    background-color: transparent;

}

#divTotalQuantityCalories{

    background-color: #f9f9f9; 
    border-radius: 5px;
    width: 90vw;
    margin: 10px 0 0 0;

}

#divTotalQuantityCalories p{

    font-size: 1.2em; 
    color: #FF006F; 
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;

}

h3{

    width: 90vw;
    color: #ffffff;

}

@media screen and (max-width: 800px){

    .mealHeader{

        width: 90vw;

    }

    .mealHeader h2{

        font-size: 14px;

    }

    .deleteButton{

        width: 40px;
        height: 40px;

    }

    .popUps form {

        width: 140%;
        height: 100%;
        border-radius: 8px;
        
    }
    
}