@import url('global.css');

#noMenu {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #FF006F;

}

#noMenu #btCreate {

    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF006F;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #FF006F;
    font-weight: bold;

}

#noMenu #btCreate:hover {

    background-color: #fff;
    color: #FF006F;

}