@import url('global.css');

main #divListFoods h1 {

    color: #FF006F;

}

main #divListFoods ul {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 0;
}

main #divListFoods ul li {

    width: 500px;
    padding: 10px;
    border: 1px solid #FF006F;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    list-style-type: none;

}

main #divListFoods ul li:hover {

    background-color: #FF006F;
    color: #fff;
    cursor: pointer;

}

main #divBtCreateFood {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    width: 180px;

}

main #divBtCreateFood button {

    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF006F;
    border: 2px solid #FF006F;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 50px;

}

main #divBtCreateFood button:hover {

    background-color: #ffffff;
    color: #FF006F;

}

main #divBtCreateFood p {

    font-size: 20px;
    color: #FF006F;

}