@import url('global.css');

main #divListFoods h1 {

    color: #FF006F;

}

main #divListFoods{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;

}

main #divListFoods table {

    width: 60%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 20px 0; 
    background-color: #f9f9f9; 
    font-family: Arial, sans-serif; 
    border: 1px solid #ddd; 

}

main #divListFoods table th, 
main #divListFoods table td {

    padding: 12px 15px; 
    border: 1px solid #ddd; 
    text-align: center; 
    vertical-align: middle; 

}

main #divListFoods table th {

    background-color: #f2f2f2; 
    font-weight: bold; 

}

main #divListFoods table tr:nth-child(even) {

    background-color: #f9f9f9; 

}

main #divListFoods table tr:hover {
    background-color: #f1f1f1; 
}

main #divListFoods span {

    font-size: 20px;
    color: #FF006F;

}

main #divBtCreateFood {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    width: 180px;

}

main #divBtCreateFood button {

    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF006F;
    border: 2px solid #FF006F;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 50px;

}

main #divBtCreateFood button:hover {

    background-color: #ffffff;
    color: #FF006F;

}

main #divBtCreateFood p {

    font-size: 20px;
    color: #FF006F;

}