@import url('global.css');

main h1{

    color: #FF006F;

}

main #divListMeals{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main #divListMeals ul {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 0;
}

main #divListMeals ul li{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    padding: 10px;
    border: 1px solid #FF006F;
    border-radius: 5px;
    margin: 10px;
    color: #FF006F;
    font-weight: bold;

}

main #divListMeals ul li:hover{

    background-color: #FF006F;
    color: #fff;
    cursor: pointer;

}

main #divListMeals ul li button{

    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #FF006F;
    border: 2px solid #FF006F;
    color: #fff;
    cursor: pointer;
    font-weight: bold;

}

main #divListMeals ul li button:hover{

    background-color: #ffffff;
    color: #FF006F;

}

main #divListMeals .divResult{

    display: flex;
    flex-direction: row;
    color: #ffffff;
    background-color: #FF006F;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px;
    width: 250px;

}

main #divListMeals .divResult p{

    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}

main #divBtCreateMeal{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;

}

main #divBtCreateMeal button{

    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF006F;
    border: 2px solid #FF006F;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}

main #divBtCreateMeal button:hover{

    background-color: #ffffff;
    color: #FF006F;

}

main #divBtCreateMeal p{

    font-size: 20px;
    color: #FF006F;

}

