@import url('global.css');	

body{

    height: auto;

}

main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 70vw;
    padding: 20px;
}

#divInfos{

    width: 100%;

}

#divInfos #divUser{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

#divInfos #divUser #user{

    background-color: #ffffff;
    padding: 25px;
    border-radius: 50%;

}

#divInfos h1 {
    color: #ffffff;
    font-size: 36px;
    margin-bottom: 20px;
}

#divInfos .doubleInfo{

    display: flex;
    flex-direction: row;

}

#divInfos .doubleInfo .boxInfo{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 49%;
    

}

#divInfos .doubleInfo .boxInfo:last-child{

    margin-left: auto;

}

#divInfos label {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
}

#divInfos input {
    width: 100%;
    padding: 10px 0;
    font-family: 'Karla', sans-serif;
    border: 2px solid #FF006F;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
}

#divInfos input:focus {
    border-color: #ff3380;
}
