@import url('global.css');

form{

    display: flex;
    flex-direction: column;
    padding: 20px;
    user-select: none;
    width: 700px;
    margin: 40px;
    align-items: center;

}

form label{

    margin-top: 10px;
    font-size: 1.2rem;
    width: 280px;
    color: #ffffff;     

}

form input{

    margin: 10px;
    padding: 10px;
    border: 3px solid #FF006F;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    background-color: transparent;
    width: 300px;
    color: #ffffff;

}

form select{

    margin: 10px;
    padding: 10px;
    border: 3px solid #FF006F;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    background-color: transparent;
    width: 322px;
    color: #ffffff;

}

form select:optional{

    color: #ffffff;
    background-color: #FF006F;

}

form button{

    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: #FF006F;
    border: 2px solid #FF006F;
    color: #fff;
    cursor: pointer;
    width: 50%;

}

form button:hover{

    background-color: #fff;
    color: #FF006F;

}

form a{

    margin-top: 10px;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #FF006F;

}

form a:hover{

    color: #fff;

}

.divDouble {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.divDouble .boxInput {

    display: flex;
    flex-direction: column;

}

@media (max-width: 800px){

    body{

        height: auto;

    }

    .divDouble{
        flex-direction: column;
        align-items: center;
    }

    form{
        margin-top: 10px;
    }

    form input, form select, form button{
        margin: 0;
    }

    form button{

        margin-top: 50px;

    }
}