@import url('global.css');

form{

    display: flex;
    flex-direction: column;
    border: 5px solid #FF006F;
    border-radius: 20px;
    padding: 20px;
    color: #FF006F;
    user-select: none;
    width: 700px;
    align-items: center;

}

form label{

    margin-top: 10px;
    font-size: 1.2rem;
    width: 300px;

}

form input{

    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;

}

form select{

    margin: 10px;
    padding: 10px;
    width: 322px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;

}

form button{

    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: #FF006F;
    border: 2px solid #FF006F;
    color: #fff;
    cursor: pointer;
    width: 50%;

}

form button:hover{

    background-color: #fff;
    color: #FF006F;

}

form a{

    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #FF006F;

}

form a:hover{

    background-color: #FF006F;
    color: #fff;

}